---
import image from '../assets/images/illustration-article.svg'
import userImg from '../assets/images/image-avatar.webp'
---

<main class="main">
	<article class="art-img">
		<img alt="article-logo" src={image.src} />
	</article>
	<section class="blog-inf">
		<div class="tag">
			<p class="TextPreset3Bold">Learning</p>
		</div>
		<p class="TextPreset3">Published 21 Dec 2023</p>
		<p class="TextPreset1 hover">HTML & CSS foundations</p>
		<p class="TextPreset2 desc">These languages are the backbone of every website, defining structure, content, and presentation.</p>
	</section>
	<footer class="Author">
		<div>
			<img alt="author" src={userImg.src} />
		</div>
		<p class="TextPreset2 bold">Greg Hooper</p>
	</footer>
</main>

<style>
	.main{
		width: 90%;
		background-color: var(--white);
		padding: var(--s300);
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		gap: var(--s300);
		border: 1px solid var(--gray950);
		filter: drop-shadow(8px 8px);
		max-width: 360px;
	}
	.art-img{
		width: 100%;
	}
	.art-img img{
		width: 100%;
		border-radius: 10px;
	}
	.blog-inf{
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: var(--s100);
	}
	.tag{
		width: fit-content;
		background-color: var(--yellow);
		padding: var(--s50) var(--s150);
		border-radius: 4px;
	}
	.desc{
		color: var(--gray500);
	}
	.hover:hover{
		cursor: pointer;
		color: var(--yellow);
		user-select: none;
	}
	.Author{
		display: flex;
		gap: var(--s150);
		align-items: center;
	}
	.Author img{
		width: 32px;
		height: 32px;
	}
	.bold{
		font-weight: 700;
	}
</style>
